doctype html
html.no-js(lang='')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        -title = ''
        block title
        title= `${title} - Barista Wars 2016`
        meta(name='description', content='Barista Wars 2016')
        //meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        //link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css')
        link(rel='stylesheet', type='text/css', href='css/main.css',media="screen,projection")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
        block css
        link(rel='stylesheet', href='css/main.css')
    body
        block master-ie8
            | <!--[if IE]>
            | #[p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'> upgrade your browser</a> to improve your experience.]
            | <![endif]-->
        block body
        block master-js
            script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js')
            script(src='https://code.jquery.com/jquery-3.1.0.min.js')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
            script(src='https://unpkg.com/axios/dist/axios.min.js')
            script(src='https://unpkg.com/vue@2.0.1/dist/vue.js')
            block body-js

            script(src='js/main.js')
            script
                block body-script

